.text-bar-container {
    width: 100%;
    padding: 2rem;
    background-color: var(--dark);

    h1 {
        margin-bottom: 2rem;
        padding-top: 2rem;
    }

    p {
        width: 100%;
        color: #fff;
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 300;
        z-index: 20;
    }
}

@media screen and (min-width: 768px) {
    .text-bar-container {
        padding: 2rem 6rem;
        background-color: var(--dark);
    }
}

@media screen and (min-width: 1700px) {
    .text-bar-container {
        padding: 2rem 15rem;
    }
}
