<div class="container">
    <div class="left-container">
        <img src="./assets/img/photo8.jpeg" alt="photo">
        <h1>DURIGON STORE</h1>
    </div>
    <div class="right-container">
        <h2>COISAS INCRÍVEIS<br> ESTÃO VINDO</h2>
        <div class="links">
            <a href="https://shopee.com.br/durigon_store" title="Conheça nossa loja"><i class="gg-shopping-cart"></i></a>
            <a href="https://www.instagram.com/durigon.store/" title="Clique e saiba mais"><i class="gg-instagram"></i></a>
        </div>
    </div>
</div>
