.navbar-container {
    width: 100%;
    padding: 1.5rem 1.2rem;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 10px 0 1rem rgba(0, 0, 0, .5);

  .menu-button {
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 2rem;
    right: 1.2rem;
    background-color: var(--dark);
    padding: 2rem 1.2rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.2rem;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out, top .3s ease-in-out;

    li {
      cursor: pointer;
    }
  }

  .open {
    opacity: 1;
    top: 3rem;
    pointer-events: all;
  }

  i {
    transition: all .3s ease-in-out;
  }
}

@media screen and (min-width: 426px) {
  .navbar-container {
    padding: 1.5rem 3rem;

    .menu {
      right: 3rem;
    }
  }
}

@media screen and (min-width: 1320px) {
  .navbar-container {
    .menu-button {
      display: none;
    }

    .menu {
      opacity: 1;
      pointer-events: all;
      position: relative;
      top: 0;
      right: 0;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      transition: none;
    }
  }
}

@media screen and (min-width: 1025px) {
  .navbar-container {
    padding: 1.5rem 6rem;
  }
}

@media screen and (min-width: 1445px) {
  .navbar-container {
    padding: 1.5rem 15rem;
  }
}
