<section class="hero-container">
    <img src="../../../../assets/img/photo-hero_cleanup.v1.jpg" alt="background" class="hero-background" #background>
    <img src="../../../../assets/img/DURIGON.svg" alt="Durigon" class="hero-big-text" #midground>
    <img src="../../../../assets/img/hero-foreground.png" alt="hero-foreground" class="hero-foreground" #foreground>

    <div class="hero-content">
        <h1 class="hero-title">Bem-vindo à DURIGON STORE</h1>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>
        <a href="#" class="hero-btn">Learn More</a>
    </div>
</section>
