<div class="top-three-container">
    <div class="cards-carousel">
        <div class="top-three-card">
            <img src="../../../../assets/img/photo1.jpeg" alt="top-product" class="card-image">
            <h2 class="card-title">Jaqueta Incrícel</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>
            <p class="card-price">R$ 99,99</p>
            <button class="card-button">Comprar</button>
        </div>
        <div class="top-three-card">
            <img src="../../../../assets/img/photo2.jpeg" alt="top-product" class="card-image">
            <h2 class="card-title">Jaqueta Incrícel</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>
            <p class="card-price">R$ 99,99</p>
            <button class="card-button">Comprar</button>
        </div>
        <div class="top-three-card">
            <img src="../../../../assets/img/photo3.jpeg" alt="top-product" class="card-image">
            <h2 class="card-title">Jaqueta Incrícel</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate.</p>
            <p class="card-price">R$ 99,99</p>
            <button class="card-button">Comprar</button>
        </div>
    </div>
</div>
