.top-three-section {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.text-bar-section {
    padding-block: 2.5rem;
}

.products-section {
    padding-block: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
