.top-three-section {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.text-bar-section {
    padding-block: 2.5rem;
}

.products-section {
    padding: 2rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
    background-color: var(--dark);
    z-index: 20;
}

.call-to-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 10rem;
    
    .btn {
        padding: 1rem 3rem;
        border-radius: 0.5rem;
        background-color: #f1f3f5;
        color: #111518;
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 1.44rem;
        letter-spacing: -2%;
        text-transform: uppercase;
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
    
        &:hover {
            transform: scale(1.05);
            filter: drop-shadow(3px 7px 4px rgba(0, 0, 0, 1));
        }
    }
}

.bags {
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    overflow: hidden;

    .bags-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2rem;
        padding-block: 4rem;
        padding-inline: 2rem;
        position: relative;
        background-image: linear-gradient(to top, #1E2225FF, #1E222500);
        z-index: 10;

        h1 {
            line-height: 2.4rem;
            filter: drop-shadow(0px .25rem .25rem #000000A5);
        }

        p {
            color: var(--light);
            font-size: 1.4rem;
            line-height: 2rem;
            padding-bottom: 3rem;
            filter: drop-shadow(0px .25rem .25rem #000000A5);
        }

        a {
            width: 100%;
            text-align: center;
            color: var(--light);
            font-weight: 700;
            text-decoration: none;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: #FFFFFF40;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        transform: translateY(5rem) scale(1.3);
    }
}

.products-section {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.products-section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.products-section::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.products-section::-webkit-scrollbar-track {
  background: transparent;
}
.products-section > div {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@media screen and (min-width: 768px) {
    .products-section {
        padding-block: 2rem;
        padding-inline: 10rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .bags {
        .bags-content {
            padding-block: 6rem;
            padding-inline: 6rem;
        }
    }

}

@media screen and (min-width: 1700px) {
    .products-section {
        padding-inline: 5rem;
    }

    .bags {
        .bags-content{
            padding-block: 12rem;
            padding-inline: 14rem;
        }
    }
}
