<app-hero />
<div class="bags" id="winter">
    <div class="bags-content">
        <h1>Produtos de Inverno</h1>
        <p>
            Encontre o conforto e estilo que você precisa para enfrentar o inverno. Casacos, cachecóis e mais, para você se manter aquecido e na moda.
        </p>
    </div>
    <img src="../../../../assets/img/photo8.jpeg" alt="Bolsas" #bagsImage>
</div>
<section class="products-section">
    <app-details-card
        *ngFor="let product of winter"
        name="{{product['name']}}"
        description="{{product['description']}}"
        price="{{product['price']}}"
        image="{{product['image']}}"
        link="{{product['ref']}}"
    />
</section>

<div class="bags" id="bags">
    <div class="bags-content">
        <h1>Bolsas e Carteiras Femininas</h1>
        <p>
            Escolha entre nossa coleção de bolsas e carteiras para dar um toque de elegância e praticidade ao seu dia a dia.
        </p>
    </div>
    <img src="../../../../assets/img/products/bags.jpeg" alt="Bolsas" #bagsImage>
</div>
<section class="products-section">
    <app-details-card
        *ngFor="let product of bags"
        name="{{product['name']}}"
        description="{{product['description']}}"
        price="{{product['price']}}"
        image="{{product['image']}}"
        link="{{product['ref']}}"
    />
</section>

<div class="bags" id="backpacks">
    <div class="bags-content">
        <h1>Mochilas</h1>
        <p>
            Descubra mochilas versáteis e duráveis, ideais para viagens e aventuras. Tenha o que você precisa sempre à mão.
        </p>
    </div>
    <img src="../../../../assets/img/products/mochila.jpg" alt="mochila" #backpack>
</div>
<section class="products-section">
    <app-details-card
        *ngFor="let product of backpacks"
        name="{{product['name']}}"
        description="{{product['description']}}"
        price="{{product['price']}}"
        image="{{product['image']}}"
        link="{{product['ref']}}"
    />
</section>

<div class="bags" id="makeups">
    <div class="bags-content">
        <h1>Brinquedos</h1>
        <p>
            Diversão garantida com nossa coleção de brinquedos para todas as idades. Desde educação até entretenimento, temos algo para todos.
        </p>
    </div>
    <img src="../../../../assets/img/products/brinquedos.jpg" alt="brinquedos" #makeup>
</div>
<section class="products-section">
    <app-details-card
        *ngFor="let product of toys"
        name="{{product['name']}}"
        description="{{product['description']}}"
        price="{{product['price']}}"
        image="{{product['image']}}"
        link="{{product['ref']}}"
    />
</section>

<div class="bags" id="makeups">
    <div class="bags-content">
        <h1>Maquiagem</h1>
        <p>
            Realce sua beleza com maquiagens de alta qualidade! Oferecemos marcas renomadas com produtos excepcionais, desde bases e
            corretivos para uma pele perfeita até sombras e delineadores para realçar seus olhos. Nossos batons possuem uma variedade
            de tons do clássico ao ousado, permitindo que você expresse sua personalidade. Formulados para longa duração e conforto,
            cuidando da saúde da sua pele o dia todo.
        </p>
    </div>
    <img src="../../../../assets/img/products/makeup.jpg" alt="maquiagem" #makeup>
</div>
<section class="products-section">
    <app-details-card
        *ngFor="let product of makeups"
        name="{{product['name']}}"
        description="{{product['description']}}"
        price="{{product['price']}}"
        image="{{product['image']}}"
        link="{{product['ref']}}"
    />
</section>
