.product-card-container {
    width: 24rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    background-color: #131518;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.34);
    transition: all 0.3s ease-in-out;

    .product-card-image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }

    .product-card-infos {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
        color: #fff;
        transition: all 0.5s ease-in-out;

        .product-card-title {
            font-size: 2rem;
            line-height: 2.4rem;
            font-weight: 700;
            margin-bottom: 1rem;
            filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.8));
        }

        .product-card-description {
            font-size: 1.2rem;
            color: #d7d9e0;
            font-weight: 400;
            margin-bottom: 2rem;
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
        }

        .product-card-price {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        .product-card-buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .product-card-button {
                width: 100%;
                height: 4rem;
                border-radius: 10px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.22);
                color: var(--light);
                font-size: 1.2rem;
                font-weight: 700;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-bottom: 1rem;

                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }

    &:hover {
        transform: scale(1.03);

        .product-card-image {
            transform: scale(1.1);
        }

        .product-card-infos {
            height: 100%;
        }
    }
}

@media screen and (max-width: 400px) {
    .product-card-container {
        width: 19rem;
    }
}
