<div class="product-card-container">
    <img src="../../../../assets/img/products/{{image}}" alt="product photo" class="product-card-image">
    <div class="product-card-infos">
        <!-- <h3 class="product-card-title">{{name}}</h3> -->
        <!-- <p class="product-card-description">{{description}}</p> -->
        <!-- <div class="product-card-price">{{price | currency:'BRL'}}</div> -->
        <div class="product-card-buttons">
            <a href="https://api.whatsapp.com/send?phone=5541992806875&text=Ol%C3%A1,%20vi%20o%20poduto%20ref.%20{{link}}%20no%20site,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es" target="_blank"
                class="product-card-button">QUERO ESSE</a>
        </div>
    </div>
</div>
