<div class="product-card-container">
    <img src="../../../../assets/img/photo5.jpeg" alt="product photo" class="product-card-image">
    <div class="product-card-infos">
        <h3 class="product-card-title">Nome Jaqueta</h3>
        <p class="product-card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        <div class="product-card-price">Preço: R$100,00</div>
        <div class="product-card-buttons">
            <button class="product-card-button">COMPRAR</button>
        </div>
    </div>
</div>
